# Linear Configuration
LINEAR_API_KEY=XXXXX

# Figma Configuration
FIGMA_ACCESS_TOKEN=XXXXX
FIGMA_FILE_KEY=XXXXX

# Chromatic Configuration
CHROMATIC_PROJECT_TOKEN=XXXXX

# Codacy Configuration
CODACY_PROJECT_TOKEN=XXXXX
CODACY_API_TOKEN=XXXXX
CODACY_ORGANIZATION_PROVIDER=XX
CODACY_USERNAME=XXXXX
CODACY_PROJECT_NAME=XXXXX
CODACY_REPORTER_SKIP_CHECKSUM=true
