{
  "*.{ts,tsx,js,jsx}": [
    "biome check --write",
    "eslint --max-warnings=0 --no-warn-ignored --fix"
  ],
  "*.{json,css}": ["biome check --write"],
  "*.{md,yml,yaml}": ["prettier --write"],
  "ignores": ["pnpm-lock.yaml"]
}
